.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    @media (max-width: 600px) {
        margin-top: 20px;
        row-gap: 40px;
    }
}
.container__item__outer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid transparent;
    transition: 0.8s all ease-in-out;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: radial-gradient(
            200px 200px at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.1),
            transparent 60%
        );
        @media (max-width: 880px) {
            background: none;
        }
    }
    &:hover {
        @media (max-width: 880px) {
            border-image: none;
        }
        border: 1px solid transparent;
        border-image: radial-gradient(
                120px 120px at var(--mouse-x) var(--mouse-y),
                rgba(255, 255, 255, 0.4) 50%,
                transparent 100%
            )
            10;
    }
}
.container__item {
    cursor: pointer;
    width: 184px;
    height: 184px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "MuseoSansCyrl-300";
    font-size: 16px;
    @media (max-width: 600px) {
        font-size: 14px;
        width: 40vw;
        height: auto;
    }

    & .header {
    }
    & .main {
        font-family: "MuseoSansCyrl-700";
        font-size: 60px;
        @media (max-width: 600px) {
            font-size: 48px;
        }
        & span {
            font-size: 20px;
            @media (max-width: 600px) {
                font-size: 18px;
            }
        }
    }
    & .footer {
        transform: translateY(-18px);
    }
}

//переделать дефолную анимацию с ютубыча ЙООООУ
